# Игнорирование виртуального окружения
venv/
# ENV/
# .venv/

# # Игнорирование скомпилированных файлов Python
# __pycache__/
# *.py[cod]
# *.pyo
# *.pyd

# # Игнорирование логов и файлов вывода
# *.log
# *.pot
# *.pyc
# *.swp
# *.bak
# *.pid
# *.seed
# *.backup

# Игнорирование файлов настроек среды
.env

# # Игнорирование миграций базы данных Django
# */migrations/*.pyc
# */migrations/*.py~

# # Игнорирование статических и медиа файлов, если они генерируются
# staticfiles/
# media/

# Игнорирование файлов IDE
# .vscode/
.idea/

# # Игнорирование файлов, связанных с тестированием и отладкой
# coverage/
# *.cover

# # Игнорирование дампов и резервных копий PostgreSQL
# *.sql
# *.dump
# *.backup
